/*FORMULARIO CONTACTO*/

.formulario {
  background-color: #9196f2d8;
}

.form-contact {
  h4 {
    text-decoration: underline;
    font-weight: bold;
  }

  p {
    text-align: center;
    font-size: 20px;
  }

  button {
    color: black;
    background-color: black;
  }
}
