.cards {
  perspective: 150rem;
  position: relative;
  height: 15rem;
  max-width: 700px;
  margin: 2rem;
  box-shadow: none;
  background: none;
  justify-items: center;
  left: 40rem;
}

.cards-side {
  height: 15rem;
  border-radius: 15px;
  transition: all 0.7s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  width: 80%;
  padding: 2rem;
  color: antiquewhite;
}

.cards__text {
  color: #303030;
  margin-left: 15px;
  margin-top: 15px;
  position: relative;
  font-size: 2vh;
}

.cards-side.back {
  transform: rotateY(-180deg);
  background-color: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  color: #303030;
  font-size: 1.3vw;
}

.cards-side.front {
  background-color: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.cards:hover .cards-side.front {
  transform: rotateY(180deg);
}

.cards:hover .cards-side.back {
  transform: rotateY(0deg);
}

.nosotros {
  background-image: radial-gradient(
    circle,
    #858bf2,
    #7c83f5,
    #737af8,
    #6a72fb,
    #6169fd
  );
  width: 95%;
  height: auto;
  margin: 20px auto;
  border: 1.5px solid black;
  border-radius: 20px;
  text-align: center;
  display: flex;
}

.nosotros_title {
  color: #ffffff;
  font-size: 60px;
  left: 0;
  margin-left: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  width: 100%;
  animation: move linear 2000ms infinite;
  z-index: 2;
}

@keyframes move {
  0% {
    text-shadow: 4px -4px 0 #da0641, 3px -3px 0 #da0641, 2px -2px 0 #da0641,
      1px -1px 0 #da0641, -4px 4px 0 #13f1fc, -3px 3px 0 #13f1fc,
      -2px 2px 0 #13f1fc, -1px 1px 0 #13f1fc;
  }

  25% {
    text-shadow: -4px -4px 0 #13f1fc, -3px -3px 0 #13f1fc, -2px -2px 0 #13f1fc,
      -1px -1px 0 #13f1fc, 4px 4px 0 #da0641, 3px 3px 0 #da0641,
      2px 2px 0 #da0641, 1px 1px 0 #da0641;
  }

  50% {
    text-shadow: -4px 4px 0 #da0641, -3px 3px 0 #da0641, -2px 2px 0 #da0641,
      -1px 1px 0 #da0641, 4px -4px 0 #13f1fc, 3px -3px 0 #13f1fc,
      2px -2px 0 #13f1fc, 1px -1px 0 #13f1fc;
  }

  75% {
    text-shadow: 4px 4px 0 #13f1fc, 3px 3px 0 #13f1fc, 2px 2px 0 #13f1fc,
      1px 1px 0 #13f1fc, -4px -4px 0 #da0641, -3px -3px 0 #da0641,
      -2px -2px 0 #da0641, -1px -1px 0 #da0641;
  }

  100% {
    text-shadow: 4px -4px 0 #da0641, 3px -3px 0 #da0641, 2px -2px 0 #da0641,
      1px -1px 0 #da0641, -4px 4px 0 #13f1fc, -3px 3px 0 #13f1fc,
      -2px 2px 0 #13f1fc, -1px 1px 0 #13f1fc;
  }
}

.nosotros_text {
  font-size: 40px;
}

.nosotros_img {
  max-width: 600px;
}

@media (min-width: 700px) and (max-width: 1500px) {
  .nosotros {
    display: block;
  }
  .nosotros_title {
    font-size: 45px;
  }
  .nosotros_text {
    font-size: 25px;
  }
  .nosotros_img {
    max-width: 400px;
  }

  .cards {
    left: 10rem;
  }
}

@media (max-width: 700px) {
  .nosotros {
    display: block;
  }
  .nosotros_title {
    font-size: 30px;
  }

  .nosotros_text {
    font-size: 20px;
  }
  .nosotros_img {
    max-width: 300px;
  }

  .cards {
    left: 2.5rem;
  }
}
