.cards {
  perspective: 150rem;
  position: relative;
  height: 15rem;
  max-width: 700px;
  margin: 2rem;
  box-shadow: none;
  background: none;

  left: 40rem;
}

.cards-side {
  height: 15rem;
  border-radius: 15px;
  transition: all 0.7s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  width: 80%;
  padding: 2rem;
  color: antiquewhite;
}

.cards__text {
  color: #303030;
  margin-left: 15px;
  margin-top: 15px;
  position: relative;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards__img {
  max-width: 100%;
  height: 100px;
}

.button {
  background-color: white;
  color: black;
  border: 2px solid #df2d2d;
  font-size: 25px;
  padding: 10px;
  border-radius: 8px;
}

.button:hover {
  background-color: #df2d2d;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.cards-side.back {
  transform: rotateY(-180deg);

  background-image: linear-gradient(
    to right,
    #9399f8,
    #797ffa,
    #5f64f9,
    #4147f7,
    #1722f2
  );
  color: #303030;
  font-size: 1.3vw;
}

.cards-side.front {
  background-image: linear-gradient(
    to left,
    #f2b3c4,
    #f599b0,
    #f67d9a,
    #f55d82,
    #f23669
  );
}

.cards:hover .cards-side.front {
  transform: rotateY(180deg);
}

.cards:hover .cards-side.back {
  transform: rotateY(0deg);
}

.nosotros {
  background-image: radial-gradient(
    circle,
    #858bf2,
    #7c83f5,
    #737af8,
    #6a72fb,
    #6169fd
  );
  width: 95%;
  height: auto;
  margin: 20px auto;
  border: 1.5px solid black;
  border-radius: 20px;
  text-align: center;
  display: flex;
}

.nosotros_title {
  color: #ffffff;
  font-size: 60px;
  left: 0;
  margin-left: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  width: 100%;
  animation: move linear 2000ms infinite;
  z-index: 2;
}

@keyframes move {
  0% {
    text-shadow: 4px -4px 0 #da0641, 3px -3px 0 #da0641, 2px -2px 0 #da0641,
      1px -1px 0 #da0641, -4px 4px 0 #13f1fc, -3px 3px 0 #13f1fc,
      -2px 2px 0 #13f1fc, -1px 1px 0 #13f1fc;
  }

  25% {
    text-shadow: -4px -4px 0 #13f1fc, -3px -3px 0 #13f1fc, -2px -2px 0 #13f1fc,
      -1px -1px 0 #13f1fc, 4px 4px 0 #da0641, 3px 3px 0 #da0641,
      2px 2px 0 #da0641, 1px 1px 0 #da0641;
  }

  50% {
    text-shadow: -4px 4px 0 #da0641, -3px 3px 0 #da0641, -2px 2px 0 #da0641,
      -1px 1px 0 #da0641, 4px -4px 0 #13f1fc, 3px -3px 0 #13f1fc,
      2px -2px 0 #13f1fc, 1px -1px 0 #13f1fc;
  }

  75% {
    text-shadow: 4px 4px 0 #13f1fc, 3px 3px 0 #13f1fc, 2px 2px 0 #13f1fc,
      1px 1px 0 #13f1fc, -4px -4px 0 #da0641, -3px -3px 0 #da0641,
      -2px -2px 0 #da0641, -1px -1px 0 #da0641;
  }

  100% {
    text-shadow: 4px -4px 0 #da0641, 3px -3px 0 #da0641, 2px -2px 0 #da0641,
      1px -1px 0 #da0641, -4px 4px 0 #13f1fc, -3px 3px 0 #13f1fc,
      -2px 2px 0 #13f1fc, -1px 1px 0 #13f1fc;
  }
}

.nosotros_text {
  font-size: 40px;
}

.nosotros_img {
  max-width: 600px;
}

@media (min-width: 700px) and (max-width: 1500px) {
  .nosotros {
    display: block;
  }
  .nosotros_title {
    font-size: 45px;
  }
  .nosotros_text {
    font-size: 25px;
  }
  .nosotros_img {
    max-width: 400px;
  }

  .cards {
    left: 10rem;
  }
}

@media (max-width: 700px) {
  .nosotros {
    display: block;
  }
  .nosotros_title {
    font-size: 30px;
  }

  .nosotros_text {
    font-size: 20px;
  }
  .nosotros_img {
    max-width: 300px;
  }

  .cards {
    left: 2.5rem;
  }
}
