/* RECETAS */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.recipes {
  padding: 2rem 0 2rem;
  margin: 5px;
  transition: transform 500ms ease;
}

.recipes:hover,
.recipes:focus-within {
  transform: scale(1.05);
}

.card-content {
  padding: 1.5rem;
  background: linear-gradient(black, rgba(0, 0, 0, 0.5));
  border-radius: 15px;

  h4 {
    color: azure;
    text-align: center;
    margin: 5px;
  }

  h3 {
    color: azure;
    text-align: center;
    margin: 5px;
    font-size: 21.5px;
  }

  div {
    text-align: center;
    a {
      text-decoration: none;
      color: azure;
      background-color: grey;
      padding: 0.2rem 1rem;
      border-radius: 0.25rem;
      transition: all 0.5s ease;
    }
  }
}

.recipe-img {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 1rem;
  align-items: center;
}

.button:hover,
.button:focus {
  background-color: white;
  color: black;
}

#sasa {
  margin: 2rem;
}
