@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

$font-family-base: "Quicksand", sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";

@import "general";

@import "productos";

@import "recetas";

@import "contacto";
